body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.main {
  display: flex;
  padding: 0 100px;
}
.header {
  display: flex;
  background-color: #1f2937;
}
.links {
  display: flex;
  gap: 20px;
}
.push {
  margin-left: auto;
}
a {
  text-decoration: none;
  color: #f9faf8;
}
.first {
  color: #f9faf8;
  background-color: #1f2937;
  padding: 5% 100px;
}
.logo {
  height: 100px;
  width: auto;
}
.main-text {
  font-size: 48px;
  font-weight: bolder;
}
.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}
.ot6 {
  height: 300px;
  width: auto;
}
.button-one {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #3882f6;
  border-color: #3882f6;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.second {
  flex-direction: column;
}
.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.member-photo {
  height: 300px;
  width: auto;
  border: 5px solid #3882f6;
  border-radius: 25px;
}
.member-info,
h2 {
  text-align: center;
}
.third {
  background-color: #e5e7eb;
  flex-direction: column;
  padding: 50px;
}
.quote-text {
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
  color: #1f2937;
  margin-bottom: 0;
}
.quote-author {
  font-weight: bold;
  text-align: right;
}
.fourth {
  margin: 5% 15%;
  justify-content: space-between;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 5% 5%;
}
.button-two {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #3882f6;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 3px solid #f9faf8;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.footer {
  background-color: #1f2937;
  padding: 2% 0;
  color: #f9faf8;
  justify-content: center;
}
