body {
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
}
.header {
  display: flex;
  background-color: #1f2937;
}
.push {
  margin-left: auto;
}
a {
  text-decoration: none;
}
.first {
  background-color: #1f2937;
}
.logo {
  height: 100px;
  width: auto;
}
